@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
}
:root {
  --green: #46bb2e;
  --blue: #192a56;
}
textarea {
  resize: none;
}
.white {
  color: #fff;
}
.dark-blue {
  color: #192a56 !important;
}
.light-green {
  color: #46bb2e !important;
}
section {
  height: fit-content;
}
img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
button {
  all: unset;
}
a {
  text-decoration: none;
}
/* Navigation Start */
header {
  font-size: 1.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
header a span,
header a div {
  font-size: 2rem;
}
header nav .logo div {
  color: var(--green);
}
header nav .logo span {
  color: var(--blue);
  font-weight: 800;
}

.nav-item a {
  padding: 0.5rem;
  font-weight: 700;
  margin: 0 1rem;
  border-radius: 0.5rem;
  color: #151515 !important;
}
.nav-item a:hover {
  background-color: var(--green);
  color: #fff !important;
}

nav a.active {
  background-color: var(--green);
  color: #fff !important;
  border-radius: 0.5rem;
}
nav div.icons button {
  padding: 0.8rem;
  border-radius: 50%;
  background-color: gainsboro;
}
nav div.icons button:hover {
  background-color: #46bb2e !important;
  color: #fff;
  transform: scaleX(-1);
  transition: 0.3s ease;
}
/* Navigation End */

/* Hero Start */

#hero h3 {
  color: var(--green);
}
#hero h1 {
  color: var(--blue);
  font-size: 5rem;
  font-weight: 700;
}
#hero p {
  color: #151515;
  font-size: 2rem;
  font-weight: 400;
}
.button-blue {
  background-color: #23345e;
  color: #fff !important;
  padding: 0.5rem;
  font-size: 1.3rem;
  border-radius: 0.7rem;
}
.button-blue:hover {
  background-color: #46bb2e;
  transition: 0.3s ease;
}

/* Hero End */

/* Dishes */

#dishes {
  background-color: rgba(248, 242, 242, 0.796);
}
#dishes h2.dishes-heading {
  border-bottom: 3px solid var(--green);
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 12px;
}
#dishes h2.dishes-heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: 3px;
  left: 15%;
  right: 15%;
}
#dishes h2.dishes-heading::before {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: -10px;
  left: 15%;
  right: 15%;
}

#dishes h2.dishes-sub-heading {
  width: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
  overflow: hidden;
}
#dishes .card a {
  background-color: transparent !important;
  display: block;
  top: 4%;
}
#dishes .card a div i {
  border-radius: 50%;
  background-color: gainsboro !important;
  font-size: 1.5rem;
  padding: 0.7rem;
  color: black !important;
  display: block;
}
#dishes .card a.left:hover i,
#dishes .card a.right:hover i {
  background-color: #46bb2e !important;
  color: #fff !important;
  transform: scaleX(-1) !important;
  transition: 0.3s ease;
}
#dishes .card a.left {
  left: -200px;
}
#dishes .card a.right {
  right: -200px;
}
#dishes div.card:hover a.left {
  left: 7%;
  transition: 0.3s ease;
}
#dishes div.card:hover a.right {
  right: 7%;
  transition: 0.3s ease;
}
.img-container {
  width: 200px;
  height: 200px;
}
/* Dishes */

/* About Us */
#about-us h2.about-us-heading {
  border-bottom: 3px solid var(--green);
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 12px;
}
#about-us h2.about-us-heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: 3px;
  left: 15%;
  right: 15%;
}
#about-us h2.about-us-heading::before {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: -9px;
  left: 15%;
  right: 15%;
}

#about-us h2.about-us-sub-heading {
  width: fit-content;
}

div.service {
  background-color: rgba(248, 242, 242, 0.796);
}
#about-us {
}
#about-us div.container div.row div.service span.icon {
  color: #46bb2e !important;
}
/* About Us */

/* Menu */
#menu {
  background-color: rgba(248, 242, 242, 0.796);
}
#menu h2.menu-heading {
  border-bottom: 3px solid var(--green);
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 12px;
}
#menu h2.menu-heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: 3px;
  left: 15%;
  right: 15%;
}
#menu h2.menu-heading::before {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: -9px;
  left: 15%;
  right: 15%;
}

#menu h2.menu-sub-heading {
  width: fit-content;
}

#menu .card .icon-heart {
  top: 8%;
  right: 8%;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
}
#menu .card .icon-heart:hover {
  background-color: var(--green);
  color: #fff;
  transition: 0.3s ease;
}
/* Menu */

/* Form */
#form h2.form-heading {
  border-bottom: 3px solid var(--green);
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 12px;
}
#form .form-heading::after {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: 3px;
  left: 15%;
  right: 15%;
}
#form h2.form-heading::before {
  content: "";
  position: absolute;
  border-bottom: 4px solid var(--green);
  bottom: -9px;
  left: 15%;
  right: 15%;
}

#form h2.form-sub-heading {
  width: fit-content;
}

#form form {
  background-color: rgba(248, 242, 242, 0.796);
}
/* Form */

/* Contact */
#contact div.container div.row ul {
  list-style: none;
}
#contact div.container div.row ul a {
  color: black;
  font-weight: 600;
  margin: 0.5rem 0;
  display: block;
}
#contact div.container div.row ul a:hover {
  color: #46bb2e;
  text-decoration: underline;
}
/* Contact */

/* Footer */
footer {
  background-color: #46bb2e;
  padding: 1rem;
}
/* Footer */

@media (max-width: 768px) {
  #hero div.container {
    flex-direction: column !important;
    row-gap: 2rem;
  }
  #hero div.container div.text,
  #hero div.container div.hero-img {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .nav-item {
    margin-top: 0.5rem;
  }
}
