@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rnt7aa');
  src:  url('fonts/icomoon.eot?rnt7aa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rnt7aa') format('truetype'),
    url('fonts/icomoon.woff?rnt7aa') format('woff'),
    url('fonts/icomoon.svg?rnt7aa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e901";
}
.icon-usd:before {
  content: "\e901";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-search:before {
  content: "\e986";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
